<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="www.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" watchedFiles="*.js;routes/*.js" />

   <rewrite>
     <rules>
       <rule name="app">
         <match url="/*" />
         <action type="Rewrite" url="www.js" />
       </rule>
     </rules>
   </rewrite>
   
   <httpErrors existingResponse="PassThrough">
   </httpErrors>

   <!-- exclude node_modules directory and subdirectories from serving
   by IIS since these are implementation details of node.js applications -->
   
   <security>
     <requestFiltering>
       <hiddenSegments>
         <add segment="node_modules" />
       </hiddenSegments>
     </requestFiltering>
   </security>
    
  </system.webServer>
</configuration>
