extends layout

block content
	h1 About PlanHub
	p(class="lead") PlanHub helps you plan and organize your life. It provides an online planner along with tools to help make sure you never fall behind on your homework, tests, or quizzes. Currently, it's only available to Dalton students, but we are working on expanding it!

	p
		span PlanHub is open-source software licensed under the MIT License. You can see the 81 files and over 9,488 lines of code that run PlanHub on 
		a(href="https://github.com/PlanHubMe/PlanHub") this GitHub repository
		span .

	h2 Team
	div(class="row aboutNames")
		div(class="col-md-4")
			h3 Alexander Studer
			p(class="lead") Class of 2019
			ul
				li
					i(class="fa fa-envelope")  
					a(href="mailto:astuder@planhub.me")  astuder@planhub.me
				li
					i(class="fa fa-github")  
					a(href="https://github.com/thatoddmailbox")  thatoddmailbox
		
		div(class="col-md-4")
			h3 William Barkoff
			p(class="lead") Class of 2020
			ul
				li
					i(class="fa fa-envelope")  
					a(href="mailto:wbarkoff@planhub.me")  wbarkoff@planhub.me
				li
					i(class="fa fa-github")  
					a(href="https://github.com/nywillb")  nywillb
		
		div(class="col-md-4")
			h3 William Weinstein
			p(class="lead") Class of 2019
			ul
				li
					i(class="fa fa-envelope")  
					a(href="mailto:wweinstein@planhub.me")  wweinstein@planhub.me
				li
					i(class="fa fa-github")  
					a(href="https://github.com/willweinstein")  willweinstein
		div(class="col-md-4")
				h3 Emlyn Mileaf-Patel
				p(class="lead") Class of 2019
				ul
					li
						i(class="fa fa-envelope")  
						a(href="mailto:emlynnmp@gmail.com")  emlynnmp@gmail.com
					li
						i(class="fa fa-github")  
						a(href="https://github.com/em-p")  em-p
		
	div(class="row aboutNames")
		div(class="col-md-4")
			h3 Alex Mazansky
			p(class="lead") Class of 2022
			ul
				li
					i(class="fa fa-envelope")  
					a(href="mailto:amazansky@planhub.me")  amazansky@planhub.me
				li
					i(class="fa fa-github")  
					a(href="https://github.com/RobotXLabs")  RobotXLabs

	h2 Acknowledgements
	p PlanHub is built with these open-source projects. Without them, what you see here would not have been possible.
		li
			a(href="https://nodejs.org/en/") Node.js
		li
			a(href="https://github.com/tjanczuk/iisnode") iisnode
		li
			a(href="https://www.mysql.com/") MySQL
		li
			a(href="http://jade-lang.com/") Jade
		li
			a(href="https://jquery.com/") jQuery
		li
			a(href="https://jqueryui.com/") jQuery UI
		li
			a(href="http://getbootstrap.com/") Bootstrap
		li
			a(href="https://fortawesome.github.io/Font-Awesome/") Font Awesome
		li
			a(href="http://bootswatch.com") Bootswatch
		li
			a(href="http://usablica.github.io/intro.js/") IntroJS
		li
			a(href="https://modernizr.com/") Modernizr
