extends layout

block content
	h1 About PlanHub
	p(class="lead") PlanHub helps you plan and organize your life. It provides an online planner along with tools to help make sure you never fall behind on your homework, tests, or quizzes.

	p
		span PlanHub is open-source software licensed under the MIT License. You can see the code that runs it on 
		a(href="https://github.com/PlanHubMe/PlanHub") this GitHub repository
		span .

	h2 Acknowledgements
	p PlanHub is built with these open-source projects. Without them, what you see here would not have been possible.
		li
			a(href="https://nodejs.org/en/") Node.js
		li
			a(href="https://github.com/tjanczuk/iisnode") iisnode
		li
			a(href="https://www.mysql.com/") MySQL
		li
			a(href="http://jade-lang.com/") Jade
		li
			a(href="https://jquery.com/") jQuery
		li
			a(href="https://jqueryui.com/") jQuery UI
		li
			a(href="http://getbootstrap.com/") Twitter Bootstrap
		li
			a(href="https://fortawesome.github.io/Font-Awesome/") Font Awesome
		li
			a(href="http://bootswatch.com") Bootswatch
