extends layout

block content
	h1 About MyHomeworkSpace
	p(class="lead") MyHomeworkSpace helps you plan and organize your life. It provides an online planner along with tools to help make sure you never fall behind on your homework, tests, or quizzes. Currently, it's only available to Dalton students, but we are working on expanding it!
	p(class="lead") From the creators of 
		a(href="http://coursesplus.tk") CoursesPlus 
		| and 
		a(href="https://chrome.google.com/webstore/detail/daltontab/ggfjkmflbbjndabmnngilkfpmdegbfkm?hl=en") DaltonTab
		| .
	p
		span MyHomeworkSpace is open-source software licensed under the MIT License. You can see the 81 files and over 9,488 lines of code that run MyHomeworkSpace on 
		a(href="https://github.com/MyHomeworkSpace/MyHomeworkSpace") this GitHub repository
		span .

	h2 Team
	div(class="row aboutNames")
		div(class="col-md-4")
			h3 Alexander Studer
			p(class="lead") Class of 2019
			ul
				li
					i(class="fa fa-envelope")  
					a(href="mailto:astuder@myhomework.space")  astuder@myhomework.space
				li
					i(class="fa fa-github")  
					a(href="https://github.com/thatoddmailbox")  thatoddmailbox
		
		div(class="col-md-4")
			h3 William Barkoff
			p(class="lead") Class of 2020
			ul
				li
					i(class="fa fa-envelope")  
					a(href="mailto:wbarkoff@myhomework.space")  wbarkoff@myhomework.space
				li
					i(class="fa fa-github")  
					a(href="https://github.com/nywillb")  nywillb
		
		div(class="col-md-4")
			h3 William Weinstein
			p(class="lead") Class of 2019
			ul
				li
					i(class="fa fa-envelope")  
					a(href="mailto:wweinstein@myhomework.space")  wweinstein@myhomework.space
				li
					i(class="fa fa-github")  
					a(href="https://github.com/willweinstein")  willweinstein
		
	div(class="row aboutNames")
		div(class="col-md-4")
			h3 Alex Mazansky
			p(class="lead") Class of 2022
			ul
				li
					i(class="fa fa-envelope")  
					a(href="mailto:amazansky@myhomework.space")  amazansky@myhomework.space
				li
					i(class="fa fa-github")  
					a(href="https://github.com/RobotXLabs")  RobotXLabs

		div(class="col-md-4")
				h3 Emlyn Mileaf-Patel
				p(class="lead") Class of 2019
				ul
					li
						i(class="fa fa-envelope")  
						a(href="mailto:emileafpatel@myhomework.space")  emileafpatel@myhomework.space
					li
						i(class="fa fa-github")  
						a(href="https://github.com/em-p")  em-p
						
		div(class="col-md-4")
				h3 Eeshan Tripathii
				p(class="lead") Class of 2019
				ul
					li
						i(class="fa fa-envelope")
						a(href="mailto:etripathii@myhomework.space")  etripathii@myhomework.space
					li
						i(class="fa fa-github")
						a(href="https://github.com/c20et")  c20et
	div(class="row aboutNames")
		div(class="col-md-4")
				h3 Joshua Fielding
				p(class="lead") Class of 2019
				ul
					li
						i(class="fa fa-envelope")  
						a(href="mailto:jfielding@myhomework.space")  jfielding@myhomework.space
					li
						i(class="fa fa-github")  
						a(href="https://github.com/medensqui")  Medensqui

	h2 GitHub contributors
	p We'd also like to thank the following people for contributing to the MyHomeworkSpace repository on GitHub. Want your name here? 
		a(href="https://github.com/MyHomeworkSpace/MyHomeworkSpace") Contribute!
	ul
		li
			a(href="https://github.com/OnlyTwentyCharacters") OnlyTwentyCharacters
	h2 Citations
	p Here are the citations for the images we use:
	ul
		li Bell by Edward Boatman from the Noun Project
		li Address Book by Noe Araujo from the Noun Project
		li Book Icon from 
			a(href="http://www.iconarchive.com/show/colorful-long-shadow-icons-by-graphicloads/Book-icon.html") Icon Archive
	h2 Acknowledgements
	p MyHomeworkSpace is built with these open-source projects. Without them, what you see here would not have been possible.
	ul
		li
			p
				a(href="https://nodejs.org/en/") Node.js 
				a(href="https://github.com/nodejs/node/blob/master/LICENSE" ) License: Node.js License
		li
			a(href="https://github.com/tjanczuk/iisnode") iisnode 
			a(href="https://github.com/tjanczuk/iisnode/blob/master/LICENSE.txt") License: Apache 2.0
		li
			a(href="https://www.mysql.com/") MySQL 
			a(href="https://www.mysql.com/products/community/") License: GPL
		li
			a(href="https://pugjs.org") Pug 
			a(href="https://github.com/pugjs/pug/blob/master/LICENSE") License: MIT
		li
			a(href="https://jquery.com/") jQuery 
			a(href="https://github.com/jquery/jquery/blob/master/LICENSE.txt") License: MIT
		li
			a(href="https://jqueryui.com/") jQuery UI 
			a(href="https://github.com/jquery/jquery-ui/blob/master/LICENSE.txt") License: MIT
		li
			a(href="http://getbootstrap.com/") Bootstrap 
			a(href="https://github.com/twbs/bootstrap/blob/v4-dev/LICENSE") License: MIT
		li
			a(href="https://fortawesome.github.io/Font-Awesome/") Font Awesome 
			a(href="https://github.com/twbs/bootstrap/blob/v4-dev/LICENSE") License: Multiple
		li
			a(href="http://bootswatch.com") Bootswatch 
			a(href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE") License: MIT
		li
			a(href="http://usablica.github.io/intro.js/") IntroJS
		li
			a(href="https://modernizr.com/") Modernizr
		li
			a(href="http://fullcalendar.io/") FullCalendar
