extends layout

block content
	h1 Welcome back!
	p(class="lead") Please sign using your authentication code. We will only ask for it again on this device once you are inactive for 30 days.
	if error
		p(class="alert alert-danger")
			strong Oh no! 
			span= error
	form(action="#{basePath}/login", method="POST")
		input(type="text", name="authcode", class="form-control", placeholder="Username")
		input(type="submit", value="Continue", class="btn btn-primary")
		a(href='#', data-toggle="tooltip", data-placement="right", title="Your password is never stored. It's only used to sign you in and download your schedule and homework.", style='padding-left: 10px;') Privacy Information

	script(src="#{staticPath}/js/tooltips.js", defer)
