extends layout

block content
	h1 Error
	if error
		h2= error.status
		pre #{error.stack}
	else if msg
		h2= msg

// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page