extends layout

block content
	h1 Whoops! It looks like we have run into an error.
	p Click the frowny face in the corner to report this error.
	if error
		h2= error.status
		pre #{error.stack}
	else if msg
		h2= msg

// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page