extends layout

block content
	h1 Internal server error
	if errorLogged:
		h3 This error has been automatically logged. Don't worry, chances are you didn't break anything. 
	else:
		h3 Please email us at hello@planhub.me with the information below. Don't worry, chances are you didn't break anything. 
	if error
		p= error.status
		pre #{error.stack}
	else if msg
		h3= msg

// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
// Filler text to get IE and Chrome to show this page
