doctype html
html
	head
		script(src='#{basePath}/js/game.js')
	    link(href='https://fonts.googleapis.com/css?family=Oxygen+Mono', rel='stylesheet', type='text/css')
	    style.
	    	body{
	    		font-family: 'Oxygen Mono', ;
	    	}
	body
		#game
