doctype html
html
	head
		title Game
		script(src='#{basePath}/js/game.js')
		link(href='https://fonts.googleapis.com/css?family=Oxygen+Mono', rel='stylesheet', type='text/css')
		style.
			body{
				font-family: 'Oxygen Mono';
				background-color: black;
				color: lime;
			}
	body(onload="game()")
		#game
