extends layout

block precontent
	div(class="jumbotron" background-image="https://pixabay.com/static/uploads/photo/2015/07/02/10/10/day-planner-828611_960_720.jpg")
		div(class="container" height="100vh")
			h1 Stay organized.
			p PlanHub is an online planner that organizes your homework into one place.
			p
				a(href="#{basePath}/app", class="btn btn-lg btn-primary") Get started
				a(data-scroll="data-scroll", href="#info", class="btn btn-lg btn-default") Learn more
		a(id="info")

block content
	// div(class="big-text-thing")
	//	h3 You can't lose your planner if it's online!
	//	p Your information is stored on your account safely and securely, and can be accessed from anywhere you have an Internet connection!
	div(class="row")
		div(class="col-md-4")
			img(src="#{basePath}/images/main01.png", class="main-feature-img")

		div(class="col-md-8")
			h1 Planner
			p(class="lead") Write down your homework in our online planner. Complete with tags, multiple subjects, and announcements of days off, the PlanHub planner is a full replacement for a paper planner! In addition, your data is stored with your account, so you can never lose it! Just access PlanHub anywhere you've got an Internet connection!

	div(class="row")
		div(class="col-md-8 right-align")
			h1 HW View
			p(class="lead") Don't get blinded by a test next week! Homework View uses data you already have in your planner to show you not only what you have due tomorrow, but also stay notified about tests or projects coming up soon. Homework View displays this information in a simple and concise three-column interface, allowing you to quickly see what's due tomorrow, next week, and even after that!

		div(class="col-md-4")
			img(src="#{basePath}/images/main02.png", class="main-feature-img")
			

	div(class="row")
		div(class="col-md-4")
			img(src="#{basePath}/images/main03.png", class="main-feature-img")

		div(class="col-md-8")
			h1 My Day 
				span(class="label label-default") coming soon
			p(class="lead") Plan out your life using My Day. Import your schedule and what clubs you are a part of, and then have My Day help you sort out what homework you're going to do and when! Plan out labs, long-term assignments, and more. My Day also helps you see how much free time you have and ensures that you never fall behind.
			
	hr
	
	a(href="https://github.com/PlanHubMe/PlanHub")
		i(class="fa fa-github")
		|  View our code on GitHub
	&nbsp;&bull;&nbsp;
	a(href="http://support.planhub.me") Help
	&nbsp;&bull;&nbsp;
	a(href="https://planhubme.github.io/APIDocs") Developer tools
	&nbsp;&bull;&nbsp;
	a(href="https://raw.githubusercontent.com/PlanHubMe/PlanHub/master/public/images/mysteriousImage.jpg") Join Our Team
