extends layout

block content
	h1 PlanHub Privacy Policy
	p(class="lead") By using the PlanHub website, you agree to this Privacy Policy.
	h3 Last Updated: February 3rd, 2016
	#privacypolicy
		p
			| We respect your privacy. This policy outlines what information we collect, why we collect it, and where it goes. We never sell or market any of it, don’t worry!
			br
			| Our service (“PlanHub”) collects the following data about you either when you initially sign up or when you use the service:
			br
			ul
				li	Your full name, as it appears on Schedules:
					ul
						li We collect this so that when you submit feedback, we can see who sent the feedback.
				li Your Dalton username
					ul
						li We collect this for demographic purposes, and, in future, it may be used to synchronize your information with that of other Dalton services--for example, to download homework from Dalton Courses.
				li Your Dalton email address
					ul
						li We use your Dalton email address to reply to any feedback you submit.
				li Anything you type into your planner

			| When you submit feedback to us from the PlanHub application, you have the option to submit a “snapshot” of the page so we can understand what your issue or idea is. This snapshot may contain your personal information, and it is not sent unless you choose to. In addition to the optional snapshot, the following is also collected with your feedback:
			ul
				li The time and date 
				li Your username
				li Your name

			| In addition, the following information may be logged for error and diagnostic purposes. This only occurs when you encounter an error.
			ul
				li The time that you encountered the error
				li Your IP address at the time of the error.
				li If you were signed in, your username.
				li The nature of the error encountered.
				li The URL of the page you were visiting.
				li Data your browser sent to the server, including but not limited to:
				ul
					li The browser and operating system you are using (also called your “User-Agent”)
					li The language your computer is set to
					li The time zone that your computer is in
		| While we try our best, the PlanHub team disclaims all liability for any data leaks or losses. If, for whatever reason, you wish to purge some or all of your information from our database, please contact 
		a(href="mailto:hello@planhub.me") hello@planhub.me
		| , and we’ll do our best to help you.
		br
		| These terms of service are subject to change at any time without any prior notice. It is your job to keep yourself updated on this policy should you wish to know about changes to this policy.
