extends layout

block content
	h1 Staging
	unless isStaging
		p(class="lead") You are currently not using staging. If you want to test new features as they are released or test our API, then
			a(href="https://staging.myhomework.space/staging") Go to Staging
	if isStaging
		p(class="lead") You are using MyHomeworkSpace Staging. 
			a(href="https://myhomework.space/staging") Exit Staging
		span(style="color:red;") Please be careful. Things 
			strong will 
			| break. This 
			strong has not been tested
			| .
			// and was a painful message to write with jade.

	p
		span As you know, MyHomeworkSpace is open-source software licensed under the MIT License. MyHomeworkSpace staging 
			unless isStaging
				| (which can be found
				a(href="http://staging.myhomework.space") here
				| )
			| pulls directly from the "master" branch of our 
			a(href="https://github.com/PlanHubMe/PlanHub") Git repository
			|. 
			strong It does not pull from the 
				a(href="https://github.com/PlanHubMe/PlanHub/tree/stable") stable 
				| branch, which means whatever we commit will appear there. There will be crashes. Things will get messy. 
				span(style="color:red;") We strongly recommend only using MyHomeworkSpace Staging for API testing and trying new features. Do not host your planner on MyHomeworkSpace Staging.
	h1(style="color: red;") MyHomeworkSpace Staging is for development purposes only.
		strong Use MyHomeworkSpace Staging at your own risk. 
