.hwView-done {
	color: gray;
	text-decoration: line-through;
	font-style: italic;
}
.hwView-item {
	position: relative;
}
.hwView-toggleDone {
	position: absolute;
	top: 1px;
    left: -21px;

	/* Browsers are weird things */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-moz-transform: scale(1.5); /* FF */
	-ms-transform: scale(1.5); /* IE */
  	-o-transform: scale(1.5); /* Opera */
  	transform: scale(1.5);
}
