.hwView-done {
	color: gray;
	text-decoration: line-through;
	font-style: italic;
}
.hwView-item {
	position: relative;
}
.hwView-toggleDone {
	position: absolute;
    left: -20px;

	/* Browsers are weird things */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-moz-transform: scale(2); /* FF */
	-ms-transform: scale(2); /* IE */
  	-o-transform: scale(2); /* Opera */
  	transform: scale(2);
}
