#myDay-welcome-form input {
	margin-right: 5px;
}

input[type=number] {
	width: 75px;
}
input[type=time] {
	width: 75px;
}

#myDayCalendar {
	padding-right: 175px;
}
#myDaySidebar {
	width: 160px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	padding-top: 60px;
}
