@import url("https://fonts.googleapis.com/css?family=Lato:300italic,400italic,700italic,400,300,700");
html, body, .mainContainer {
	width: 100%;
	height: 100%;
	font-family: Lato, sans-serif;
}
nav {
	background: white;
	border-bottom: solid 1px black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 998 !important; /* please stay on top */
	/*height: 70px;*/
}
.mainContainer {
	padding-top: 45px;
}
.tabs {
	background: #5F9EA0;
	position: fixed;
	top: 0;
	left: 0;
	width: 55px;
	height: 100%;
	padding-top: 80px;
	overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	border-right: solid 2px #528789;
	z-index: 997;
	text-align: cente;
}
.tabs li {
	/* -webkit-transform: rotate(-90deg); */
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	/* transform: rotate(-90deg); */
	text-align: center;
	font-size: 1em;
	position: relative;
	left: -57px;
	/* border: solid 1px black; */
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 90px;
	height: 40px;
	cursor: pointer;
	margin-bottom: 60px;
	/* padding-top: 15px; */
	padding-bottom: 15px;
}
.tabs li:hover {
	background: lightblue;
}
.tabs li .fa {
	margin-right: 1px;
	font-size: 37px;
	color: white;
	/* font-weight: normal; */
}
.go-dropdown li {
	cursor: pointer;
}

.pages {
	width: 100%;
	height: 100%;
	padding-left: 50px;
}
.page {
	opacity: 0;
	width: 100%;
	height: 100%;
	padding-top: 55px;
	padding-left: 60px;
	position: fixed;
	top: 0;
	left: 0;
	transition: opacity 0.2s;
	overflow-y: scroll;
}
.open-page {
	opacity: 1;
	z-index: 996;
}

.upsell {
	background: white;
	position: fixed;
	width: 96%;
	height: 100%;
	z-index: 2;
	padding-left: 10px;
}
.upsell-row {
	background: lightgray;
	width: 750px;
}
.upsell-btn {
	width: 100%;
}

.loadOverlay {
	background: rgba(0, 0, 0, 0);
	color: white;
	font-size: 2em;
	position: fixed;
	top: 0;
	left: 0;
	/*opacity: 0.5;*/
	padding-top: 150px;
	text-align: center;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	z-index: -1 !important; /* hide */
	transition: background 0.2s;
}

.showLoadOverlay {
	background: rgba(0, 0, 0, 0.5);
	z-index: 99999 !important; /* please be above the nav */
}

.modal {
	z-index: 9999 !important; /* please be above everything but the loading thing */
	position: absolute;
	top: 0;
	left: 0;
}

.smileBtn, .frownBtn, .ideaBtn {
	cursor: pointer;
}

#feedback-msg {
	width: 100%;
	height: 100px;
	resize: none;
}

#page-pref-btn {
	position: absolute;
	bottom: 0;
	left: 50px;
	z-index: 1040;
}

.loadWarn {
	background: rgba(0, 0, 0, 0.65);
	font-size: 0.7em;
	margin: 0 auto;
	opacity: 1;
	padding: 5px;
	width: 300px;
	opacity: 0;
	transition: opacity 0.2s;
}

.showLoadOverlay .loadWarn.showingLoadWarn {
	opacity: 1;
}

.loadWarn button {
	background: rgba(150, 150, 150, 0.95);
	border: none;
	border-radius: 2px;
	font-size: 0.9em;
	transition: background 0.2s;
}

.loadWarn button:hover {
	background: rgba(100, 100, 100, 0.95);
}
