#planner th {
	border: solid 2px #528789;
	font-size: 1.2em;
	width: 150px;
	text-align: center;
	background-color: cadetblue;
	padding-top: 15px;
	height: 0px;
	padding-bottom: 15px;
	border-top: none !important;
}
.subjectRow td {
	border: solid 2px #528789;
	height: 100px;
	border-right: solid 1px #528789 !important;
}
.subjectCell {
	font-size: 1.1em;
	text-align: right;
	padding-right: 10px;
}
#planner table .subjectCell, .no-border {
	border: none !important;
	background-color: white !important;
}
.editCell, .editArea, #planner-hacky-text-measure-thing {
	padding: 0;
	width: 150px;
	height: 100px;
	resize: none;
	box-sizing: border-box;
}
#planner-hacky-text-measure-thing {
	height: auto;
	position: absolute;
	top: -1000px;
	white-space: pre;
	word-wrap: break-word;
}
.editArea {
	border: none;
	position: relative;
	top: 2px;
    font-size: 1.15em;
}
.add-subject {
	background: gray;
	border: solid 1px #528789;
	color: white;
	cursor: pointer;
	font-style: italic;
	font-size: 1.1em;
	height: 20px;
	padding-left: 5px;
	transition: background 0.2s;
}
.add-subject:hover {
	background: darkgray;
}
.planner-welcome .welcome-box {
	border: solid 1px black;
	padding: 10px;
	padding-bottom: 20px;
	text-align: center;
}
.subjectControls {
	opacity: 0;
	transition: opacity 0.4s;
}
.announcement-row th {
	height: 20px;
}
#planner-controls-wrapper {
	width: 1208px;
}
#planner-controls {
	text-align: center;
}
.planner-dow {
	font-size: 0.9em;
	margin-right: 2px;
	font-weight: normal;
}
.planner-day {
	font-weight: normal;
}
.planner-current-week {
	margin-left: 5px;
	margin-right: 5px;
}

.checkBtn {
	opacity: 0;
	position: absolute;
	top: 83px;
	left: 130px;
	width: 16px;
	height: 16px;
	transition: opacity 0.3s;
}
.editCell {
	position: relative;
	background-clip: padding-box;
	transition: background 0.2s;
}
.editCell textarea {
	background: transparent;
}
.editCell.hover .checkBtn {
	opacity: 1;
}
.editCell.done {
	/*background: lightgray;*/
	background-clip: padding-box;
}
.editCell.done textarea {
	text-decoration: line-through;
}

/*.magic-input-container {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

.magic-input-container .first-word {
	transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
	top: 8px;
	position: absolute;
	margin: -5px 0 0 0;
}

.first-word {
	display: block;
	width: auto;
	height: 20px;
	line-height: 20px;
	box-shadow: none;
	padding: 0px 1px;
	border: 0px;
	border-radius: 0px;
	color: #FFF;
	opacity: 1;
	font-size: 1.15em;
}*/

/* for HW view */
.col-md-4 li .first-word {
	display: inline;
}

.hiddenThing {
	opacity: 0 !important;
}

.cal_hw {
	background-color:#4c6c9b !important;
	color: #FFF;
}
.cal_quiz {
	background-color:#ffa500 !important;
	color: #FFF;
}
.cal_project {
	background-color:#9ACD32 !important;
	color: #FFF;
}
.cal_test {
	background-color:#DC143C !important;
	color: #FFF;
}
.cal_paper {
	background-color:#FFD700 !important;
	color: #FFF;
}
.cal_ica {
	background-color:#2ac0f1 !important;
	color: #FFF;
}
.cal_lab {
	background-color:#2af15e !important;
	color: #FFF;
}
.cal_dismissal {
	background-color:#FF0 !important;
	color: #FFF;
}
.cal_docid {
	background-color:#003DAD !important;
	color: #FFF;
}
.cal_hex {
	background-color:#000000 !important;
	color: #00FF00;
}
.cal_subjectName {
	background-color:#009900 !important;
	color: #FFF;
}
.cal_no_hw {
	background:lightgray !important;
	color: gray !important;
	text-decoration: line-through !important;
    text
}
.highlightTextarea-container:not(.highlightTextarea-containerTop) .cal_no_hw {
	padding: 100% !important;
	text-decoration: line-through !important;
	background: lightgray !important;
}
.cal_no_prefix {
	background-color: #FFD3BD;
	color: black !important;
}

.cal_optional_hw {
	background-color: #5000BC !important;
	color: white !important;
}

.feedback-btn {
	font-size: 1.5em;
}

#swap-subj-list {
	list-style-type: none;
	padding-left: 20px;
}
#swap-subj-list li {
	border: solid 1px black;
	font-size: 1.2em;
	padding: 10px 10px 10px 20px;
	margin-bottom: 5px;
	width: 300px;
	transition: all 0.2s;
}
#swap-subj-list li:hover {
	background: lightblue;
	cursor: pointer;
	margin-left: 4px;
}
.highlightTextarea-container {
	font-size: 1.15em;
}
/*.highlightTextarea-container mark {
	text-shadow: 0 0 white;
}*/
.editCell .highlightTextarea::before {
    content: "";
    background: white;
    padding: 0px 150px 100px 0;
    position: absolute;
    z-index: -1;
    transition: background 0.1s;
}
.editCell.done .highlightTextarea::before {
    background: lightgray;
}

.ui-datepicker {
	z-index: 1000 !important;
}

.ui-sortable-handle .ui-icon {
	display: inline-block;
	margin-right: 5px;
}
#title-sorting li {
	width: 210px;
}
