.prefs-modal-body, .prefs-modal-body label {
	font-size: .95em !important;
}
.prefs-modal-body input {
	margin-right: 5px;
}

.tab-pane label {
	font-size: 14px;
	padding-left: 2px;
}

.selBox {
	display: inline-block;
	border: solid 1px black;
	width: 48px;
	height: 48px;
	cursor: pointer;
}
.selBox:hover {
	border: solid 2px yellow;
}
.selBox.selected {
	border: solid 3px yellow;
}

.chosen-container {
	min-width: 220px !important;
}
