@media print {
  .loadWarn, .loadOverlay, .tabs, .add-subject, #planner-status, #planner-controls-wrapper, #navbar-collapse, #page-pref-btn {
    display: none !important;
  }
  .page.open-page {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    overflow: visible;
  }
}
