iframe {
	border-style: solid;
	border-width: 5px;
}

body {
	padding-top: 0px;
}

.planhub-logo-nav {
	display: inline !important;
	margin-right: 0px;
}

.print-navbar {
	display: none;
}

.aboutNames h3 {
	margin-top: 0;
}

.announcementDelete {
	text-decoration: line-through;
}

.staging-warning {
	color: red !important;
	font-size: 15px;
	font-weight: bold;
}

.big-text-thing {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
