body {
	padding-top: 70px;
}

.planhub-logo-nav {
	display: inline !important;
	margin-right: 5px;
}

.print-navbar {
	display: none;
}

.aboutNames h3 {
	margin-top: 0;
}

.announcementDelete {
	text-decoration: line-through;
}
