body {
	padding-top: 0px;
}

.planhub-logo-nav {
	display: inline !important;
	margin-right: 0px;
}

.print-navbar {
	display: none;
}

.aboutNames h3 {
	margin-top: 0;
}

.announcementDelete {
	text-decoration: line-through;
}

.staging-warning {
	color: red !important;
	font-size: 15px;
	font-weight: bold;
}

.jumbotron {
	margin-bottom: 0;
}

.big-text-thing {
	padding-top: 20px;
	padding-bottom: 41px;
	text-align: center;
}

.main-feature-img {
	position: relative;
}

footer a, footer a:hover {
	text-decoration: none;
	transition: color 0.2s;
}

.btn {
	transition: background 0.2s;
}
