.tabs {
	width: 100%;
	height: 40px;
	top: 45px;
	padding-top: 0;
}
.tabs li {
	display: inline-block;
	width: 100px;
	height: 40px;
}
.tabs li .fa {
	font-size: 18px;
}
.page {
	padding-top: 75px;
	padding-left: 15px;
	padding-right: 15px;
}
