extends page

block content
	h1 Administrative panel
	h4 Test user accoumts
	p Use these accounts to test the MyHomeworkSpace interface from the perspective of a student or a teacher.
	h3 Teacher
	ul
		li Username: zomg_testTeacher
		li Password: hexrSecret!
	h3 Student
	ul
		li Username: zomg_testUser
		li Password: superSecret!
	a.btn.btn-danger(href="#{basePath}/logout", data-toggle="tooltip", data-placement="bottom", title="Warning: This will sign you out of your current session") Sign into a test user account.
