//- this file breaks the page into divs that will then be handled by client-side jQuery code
div(id="page")
	div(id="page-scripts")
		block scripts

	div(id="page-styles")
		block styles

	div(id="page-modals")
		block modals

	div(id="page-upsell")
		block upsell

	div(id="page-content")
		block content
