// this file breaks the page into divs that will then be handled by client-side jQuery code
div(id="planhub-page")
	div(id="planhub-page-scripts")
		block scripts

	div(id="planhub-page-styles")
		block styles

	div(id="planhub-page-modals")
		block modals

	div(id="planhub-page-upsell")
		block upsell

	div(id="planhub-page-content")
		block content
